__pycache__/
controlled_tone.wav
controlled_tone_analysis.png
recorded_voice.wav
recorded_voice_spectrum.png
recorded_voice_waveform.png
*.exe
filter_specification_mask.png
moving_average_fir_filter.png